/**
Hazy-White: #F7F7F7;
Mid-Gray: #E8E9EA;
Dark-Gray: #5a5a5a;
Blue: #007AFF
Light-Blue: #5ac8fa
**/


body{
	font-family: 'Open Sans', sans-serif;
    background-color: #F7F7F7;
    padding-top: 10vh;
}

.header-container{
	background-color: #212121;
	color: #F7F7F7;
}

#newListSuccessAlert, #newListErrorAlert{
	display: none;
}

.mg-top-10px{
	margin-top: 10px;
}

.app-btn{
	background-color: #007aff;
    color: #FFF;
	border: none;
    border-color: grey;
	height: 40px;
    margin-left: 12px;
    padding: 0 12px;
}
.app-btn:hover {
	opacity: 0.9;
}

.master-list-view > button{
	background-color: #5ac8fa;
	border-color: white;
    height: 40px;
}
.master-list-view > button:hover{
	background-color: #5ac8fa;
}

thead{
	background-color: #212121;
	color: white;
}
th{
  height:70px;
  vertical-align: middle !important;
}
td{
  height:70px;
  vertical-align: middle !important;
  text-align: center;
}

.nopadding{
    padding: 0 !important;
    margin: 0 !important;
}
.thKopt{
	text-align: center;
	width: 5%;
}
.thKategori{
	width: 10%;
	text-align: center;
    cursor: pointer;
}
.thNamn{
	width: 40%;
	text-align: center;
    cursor: pointer;
}
.thAntal{
	width: 10%;
	text-align: center;
}
.thTaBort{
	width: 8%;
	text-align: center;
}
.btn-secondary{
	margin: 2px 0px 10px 1px;
	background-color: #f7f7f7;
	border-radius: 25px;
    outline:none;
}


.btn-secondary:focus {
 outline:none;
 border: 0;
}

.back-button {
    font-size: 15px;
    font-weight: bold;
    color: #007AFF;
    padding-bottom: 30px;
    cursor: pointer;
    span {
        font-size: 18px;
    }
}

.new-list-input {
    height: 40px;
    border: 2px solid #E8E9EA;
    outline: none;
    margin-bottom: 8px;
}

.main-header {
    padding-bottom: 20px;
    button {
        height: 40px;
    }
}

.sort-btn {
    background: #E8E9EA;
    padding: 8px 18px;
    margin-right: 10px;
    font-size: 14px;
}

.submit-btn {
    margin-top: 0;
}

.submit-btn:focus {
 outline:none;
}

button:focus {outline:0;}

.list-name-header > h2 {
    margin: 20px 0;
    color: #5a5a5a;
}
.list-name-header > h2 > .name { color: #5ac8fa; }

.list-view {
    margin-top: 20px;
}

.view-form { margin-right:  10px; }

@media screen and (max-width: 767px) {

    body{
        padding-top: 8vh;
    }

    .back-button {
        padding-bottom: 8px;
    }

    .submit-btn {
        margin-top: 8px;
    }

    .sort-btn {
        display: none;
        font-size: 12px;
    }

    table {
        font-size: 11px;
    }

    input {
        margin-bottom: 10px;
    }

}
